:root{
    --back_grond:rgba(0, 0, 0, 0.826);
    --text_color:rgb(243, 255, 246);
    --btn_color:rgba(119, 231, 125, 0.932);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100%;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--back_grond);
    gap: 80px;
}
.spotyfy-logo{
    width: min(300px,50%);
    height: 300px;

    img{
        width: 100%;
        height: 100%;
    }
}
button{
    width: 200px;
    height: 45px;
    border-radius: 50px / 35px;
    border: none;
    outline: none;
    background-color: var(--btn_color);
    font-weight: bold;
    font-size: 18px;
}

h1{
    color: var(--text_color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90%;
    text-align: center;
}

@media (prefers-color-scheme: light){
    :root{
        --back_grond:rgb(243, 255, 246);
        --text_color:rgba(0, 0, 0, 0.826);
         --btn_color:rgb(90, 244, 97);
    
    }
    button{
        color: var(--back_grond);
    }
}



